<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/kids-party1.css">
    </head>
    
    <body>
        <div>
            <h3>Dear {{ to }},</h3>
            
            <p>
            We're very excited to invite you to <strong>{{ event }}</strong>!
            </p>
            
            <p>
            <strong>Date: </strong>{{ date }}<br>
            <strong>Time: </strong>{{ time }}<br>
            </p>

            <p>
            See you there!<br>
            <em>{{ sender }}</em>
            </p>

        </div>
        
        
    </body>

</html>